body {
    font-size: 1em;
    font-family: Georgia;
    line-height: 1.5;
    margin: 0px;
    padding: 0px
}

#header {
    background-color: #014E82;
    color: #fff;
    font-family: Helvetica;
    width: 100%;
    z-index: 10;
    top: 0px;
    position: fixed
}

#content {
    margin: auto;
    width: 95%;
    position: relative;
    top: 50px
}

#logo {
    font-size: 1em
}

#description {
    font-size: 0.62em
}

h1 {
    color: #014E82;
    font-size: 1em
}

h2 {
    color: #014E82;
    font-size: 1em
}

#header a {
    color: #fff;
    text-decoration: none
}

#banner div a:hover {
    text-decoration: none
}

#header a:hover {
    text-decoration: underline
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.more {
    text-decoration: underline;
    font-weight: bold
}

#menuButton {
    display: block;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 30px;
    text-decoration: none
}

#menu {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px
}

.menuItem {
    display: inline-block;
    width: 100%
}

#menu li {
    border-top: 1px solid #fff;
    width: 100%
}


.postFooter {
    text-align: right;
    font-style: italic
}

.postFooter p {
    margin-top: 0px;
    margin-bottom: 0px
}

#footer {
    font-style: italic;
    font-size: 0.7em;
    text-align: center
}

#footer p {
    margin: 0px
}

#twitterText {
    display: inline
}

#twitterImage {
    display: none
}

.visible {
    display: block
}

.hidden {
    display: none
}

a {
    color: #014E82
}

@media screen and (min-width:768px) {
    body {
        font-size: 1.4em;
        font-family: Georgia;
        line-height: 1.5
    }

    #banner {
        position: relative;
        float: left;
        width: auto;
        margin: 0px;
        padding: 0px
    }

    #menuButton {
        display: none
    }

    #menu {
        display: block;
        position: absolute;
        right: 30px;
        width: auto;
        padding: 0px;
        margin-left: 0px;
        margin-bottom: 0px
    }

    #menu li {
        list-style: none;
        display: inline;
        margin-left: 20px;
        border: 0px
    }

    #content {
        width: 80%;
        position: relative;
        top: 50px
    }

    h1 {
        font-size: 1.25em
    }

    .menuItem {
        display: inline
    }

    #twitterText {
        display: none;
    }

    #twitterImage {
        display: inline;
    }

    .hideen {
        display: block;
    }
}

#postPaging {
	text-align: center;
}

.photo {
	float: left;
	margin: 10px;
}

.c     { color: #998; font-style: italic } 
.err   { color: #a61717; background-color: #e3d2d2 } 
.k     { font-weight: bold } 
.o     { font-weight: bold } 
.cm    { color: #998; font-style: italic } 
.cp    { color: #999; font-weight: bold } 
.c1    { color: #998; font-style: italic } 
.cs    { color: #999; font-weight: bold; font-style: italic } 
.gd    { color: #000; background-color: #fdd } 
.gd .x { color: #000; background-color: #faa } 
.ge    { font-style: italic } 
.gr    { color: #a00 } 
.gh    { color: #999 } 
.gi    { color: #000; background-color: #dfd } 
.gi .x { color: #000; background-color: #afa } 
.go    { color: #888 } 
.gp    { color: #555 } 
.gs    { font-weight: bold } 
.gu    { color: #aaa } 
.gt    { color: #a00 } 
.kc    { font-weight: bold } 
.kd    { font-weight: bold } 
.kp    { font-weight: bold } 
.kr    { font-weight: bold } 
.kt    { color: #458; font-weight: bold } 
.m     { color: #099 } 
.s     { color: #d14 } 
.na    { color: #008080 } 
.nb    { color: #0086B3 } 
.nc    { color: #458; font-weight: bold } 
.no    { color: #008080 } 
.ni    { color: #800080 } 
.ne    { color: #900; font-weight: bold } 
.nf    { color: #900; font-weight: bold } 
.nn    { color: #555 } 
.nt    { color: #000080 } 
.nv    { color: #008080 } 
.ow    { font-weight: bold } 
.w     { color: #bbb } 
.mf    { color: #099 } 
.mh    { color: #099 } 
.mi    { color: #099 } 
.mo    { color: #099 } 
.sb    { color: #d14 } 
.sc    { color: #d14 } 
.sd    { color: #d14 } 
.s2    { color: #d14 } 
.se    { color: #d14 } 
.sh    { color: #d14 } 
.si    { color: #d14 } 
.sx    { color: #d14 } 
.sr    { color: #009926 } 
.s1    { color: #d14 } 
.ss    { color: #990073 } 
.bp    { color: #999 } 
.vc    { color: #008080 } 
.vg    { color: #008080 } 
.vi    { color: #008080 } 
.il    { color: #099 } 

