body {
    font-size: 1em;
    font-family: Georgia;
    line-height: 1.5;
    margin: 0px;
    padding: 0px
}

#header {
    background-color: #014E82;
    color: #fff;
    font-family: Helvetica;
    width: 100%;
    z-index: 10;
    top: 0px;
    position: fixed
}

#content {
    margin: auto;
    width: 95%;
    position: relative;
    top: 50px
}

#logo {
    font-size: 1em
}

#description {
    font-size: 0.62em
}

h1 {
    color: #014E82;
    font-size: 0.9em
}

h2 {
    color: #014E82;
    font-size: 0.8em
}

#header a {
    color: #fff;
    text-decoration: none
}

#banner div a:hover {
    text-decoration: none
}

#header a:hover {
    text-decoration: underline
}

a {
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

.more {
    text-decoration: underline;
    font-weight: bold
}

#menuButton {
    display: block;
    color: #fff;
    position: absolute;
    top: 5px;
    right: 30px;
    text-decoration: none
}

#menu {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px
}

.menuItem {
    display: inline-block;
    width: 100%
}

#menu li {
    border-top: 1px solid #fff;
    width: 100%
}


.postFooter {
    text-align: right;
    font-style: italic
}

.postFooter p {
    margin-top: 0px;
    margin-bottom: 0px
}

#footer {
    font-style: italic;
    font-size: 0.7em;
    text-align: center
}

#footer p {
    margin: 0px
}

#twitterText {
    display: inline
}

#twitterImage {
    display: none
}

.visible {
    display: block
}

.hidden {
    display: none
}

a {
    color: #014E82
}

.footnotes {
  color: gray;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  vertical-align: top;
}

thead {
  font-style: bold;
  font-size: 0.8em;
  text-align: left;
  vertical-align: top;
}

.center-image {
    margin: 0 auto;
    display: block;
}

.breadcrumbs {
  margin-top: 20px;
  font-style: italic;
}

@media screen and (min-width:768px) {
    body {
        font-size: 1.4em;
        font-family: Georgia;
        line-height: 1.5
    }

    #banner {
        position: relative;
        float: left;
        width: auto;
        margin: 0px;
        padding: 0px
    }

    #menuButton {
        display: none
    }

    #menu {
        display: block;
        position: absolute;
        right: 30px;
        width: auto;
        padding: 0px;
        margin-left: 0px;
        margin-bottom: 0px
    }

    #menu li {
        list-style: none;
        display: inline;
        margin-left: 20px;
        border: 0px
    }

    #content {
        width: 80%;
        position: relative;
        top: 50px
    }

    .menuItem {
        display: inline
    }

    #twitterText {
        display: none;
    }

    #twitterImage {
        display: inline;
    }

    .hidden {
        display: block;
    }
}

#postPaging {
	text-align: center;
}

.photo {
	float: left;
	margin: 10px;
}

blockquote {
  font-style: italic;
  color: gray;
  font-size: 1.1em;
}

img {
  max-width: 100%;
}