---
layout: default
---

{% for post in paginator.posts %}
<div>
	<h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
	{{ post.excerpt | remove: '<p>' | remove: '</p>' }}<a href="{{ post.url | prepend: site.baseurl }}" class="more">More...</a>
	<div class="postFooter">{{ post.date | date: "%-d %B %Y" }}</div>
</div>
{% endfor %}

<div id="postPaging">
	{% if paginator.previous_page %}
	    <a href="{{ paginator.previous_page_path }}">Previous posts</a>
	{% endif %}	
	  {% if paginator.next_page %}
	    &nbsp;&nbsp;<a href="{{ paginator.next_page_path }}" class="next">Next posts</a>
	  {% endif %}
</div>
