<div id="header">
  <div id="banner">
    <div id="logo"><a href="/">Mike Borozdin's Blog</a></div>
    <div id="description"><a href="/">software engineering, product management & agile</a></div>
  </div>

  <a href="javascript:toggleMenu();" id="menuButton">Menu</a>

  <ul id="menu" class="hidden">
    <li><a href="/" class="menuItem">Home</a></li>
    <li><a href="/all-posts/" class="menuItem">All posts</a></li>
    <li><a href="/talks/" class="menuItem">Talks</a></li>
    <li><a href="/about/" class="menuItem">About me</a></li>
    <li>
      <a href="http://www.twitter.com/mikeborozdin">
        <span id="twitterText">Twitter</span>
        <span id="twitterImage"><img src="/images/twitter.png" /></span>
      </a>
    </li>
  </ul>
</div>